# Binaries
werkbook
/fuzz
/fuzzcheck
/fuzzgen
/fuzzorch
/excel-test
/msgraph-setup
/exceldoc
*.exe
*.exe~
*.dll
*.so
*.dylib
*.xlsx

# Test binary
*.test
testcases/
failures/
fuzzorch_*.log
fix_history/

# Output of go coverage
*.out

# Go workspace file
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

.env
